<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.dpop.ctp.review.dao.mapper.ReviewTaskMapper">

  <resultMap id="BaseResultMap" type="com.baidu.dpop.ctp.review.bo.ReviewTask">
			<id     column="id"		jdbcType="INTEGER"		property="id" />
	 		<result column="task_name"		jdbcType="VARCHAR"		property="taskName" />
			<result column="add_user"		jdbcType="VARCHAR"		property="addUser" />
			<result column="add_time"		jdbcType="TIMESTAMP"		property="addTime" />
			<result column="begin_time"		jdbcType="TIMESTAMP"		property="beginTime" />
			<result column="end_time"		jdbcType="TIMESTAMP"		property="endTime" />
			<result column="task_list"		jdbcType="VARCHAR"		property="taskList" />
			<result column="status"		jdbcType="TINYINT"		property="status" />
			<result column="moduser_level"		jdbcType="INTEGER"		property="moduserLevel" />
			<result column="blind"		jdbcType="BIT"		property="blind" />
			<result column="group_num"		jdbcType="INTEGER"		property="groupNum" />
			<result column="group_num_actual"		jdbcType="INTEGER"		property="groupNumActual" />
			<result column="task_condition"		jdbcType="INTEGER"		property="taskCondition" />
			<result column="task_type"		jdbcType="TINYINT"		property="taskType" />
	  </resultMap>
  
  <sql id="Base_Column_List">
	id,task_name,add_user,add_time,begin_time,end_time,task_list,status,moduser_level,blind,group_num,group_num_actual,task_condition,task_type  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_review_task
    where 1=1  and id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_review_task
    where 1=1 and id = #{id,jdbcType=INTEGER}  </delete>
  
  <insert id="insert" parameterType="com.baidu.dpop.ctp.review.bo.ReviewTask" useGeneratedKeys="true" keyProperty="id">
    insert into tb_review_task 
	(id, task_name, add_user, add_time, begin_time, end_time, task_list, status, moduser_level, blind, group_num, group_num_actual, task_condition, task_type)
    values 
	( #{id,jdbcType=INTEGER},#{taskName,jdbcType=VARCHAR},#{addUser,jdbcType=VARCHAR},#{addTime,jdbcType=TIMESTAMP},#{beginTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{taskList,jdbcType=VARCHAR},#{status,jdbcType=TINYINT},#{moduserLevel,jdbcType=INTEGER},#{blind,jdbcType=BIT},#{groupNum,jdbcType=INTEGER},#{groupNumActual,jdbcType=INTEGER},#{taskCondition,jdbcType=INTEGER},#{taskType,jdbcType=TINYINT})
  </insert>
  
  <insert id="insertSelective" parameterType="com.baidu.dpop.ctp.review.bo.ReviewTask" useGeneratedKeys="true" keyProperty="id">
    insert into tb_review_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
	  <if test="id != null">
        id,
      </if>
				
	  <if test="taskName != null">
        task_name,
      </if>
			
	  <if test="addUser != null">
        add_user,
      </if>
			
	  <if test="addTime != null">
        add_time,
      </if>
			
	  <if test="beginTime != null">
        begin_time,
      </if>
			
	  <if test="endTime != null">
        end_time,
      </if>
			
	  <if test="taskList != null">
        task_list,
      </if>
			
	  <if test="status != null">
        status,
      </if>
			
	  <if test="moduserLevel != null">
        moduser_level,
      </if>
			
	  <if test="blind != null">
        blind,
      </if>
			
	  <if test="groupNum != null">
        group_num,
      </if>
			
	  <if test="groupNumActual != null">
        group_num_actual,
      </if>
			
	  <if test="taskCondition != null">
        task_condition,
      </if>
			
	  <if test="taskType != null">
        task_type,
      </if>
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
			
	  <if test="id != null">
         #{id,jdbcType=INTEGER},
      </if>
				
	  <if test="taskName != null">
         #{taskName,jdbcType=VARCHAR},
      </if>
			
	  <if test="addUser != null">
         #{addUser,jdbcType=VARCHAR},
      </if>
			
	  <if test="addTime != null">
         #{addTime,jdbcType=TIMESTAMP},
      </if>
			
	  <if test="beginTime != null">
         #{beginTime,jdbcType=TIMESTAMP},
      </if>
			
	  <if test="endTime != null">
         #{endTime,jdbcType=TIMESTAMP},
      </if>
			
	  <if test="taskList != null">
         #{taskList,jdbcType=VARCHAR},
      </if>
			
	  <if test="status != null">
         #{status,jdbcType=TINYINT},
      </if>
			
	  <if test="moduserLevel != null">
         #{moduserLevel,jdbcType=INTEGER},
      </if>
			
	  <if test="blind != null">
         #{blind,jdbcType=BIT},
      </if>
			
	  <if test="groupNum != null">
         #{groupNum,jdbcType=INTEGER},
      </if>
			
	  <if test="groupNumActual != null">
         #{groupNumActual,jdbcType=INTEGER},
      </if>
			
	  <if test="taskCondition != null">
         #{taskCondition,jdbcType=INTEGER},
      </if>
			
	  <if test="taskType != null">
         #{taskType,jdbcType=TINYINT},
      </if>
	    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.dpop.ctp.review.bo.ReviewTask">
    update tb_review_task
    <set>      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
	        <if test="addUser != null">
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
	        <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
	        <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
	        <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
	        <if test="taskList != null">
        task_list = #{taskList,jdbcType=VARCHAR},
      </if>
	        <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
	        <if test="moduserLevel != null">
        moduser_level = #{moduserLevel,jdbcType=INTEGER},
      </if>
	        <if test="blind != null">
        blind = #{blind,jdbcType=BIT},
      </if>
	        <if test="groupNum != null">
        group_num = #{groupNum,jdbcType=INTEGER},
      </if>
	        <if test="groupNumActual != null">
        group_num_actual = #{groupNumActual,jdbcType=INTEGER},
      </if>
	        <if test="taskCondition != null">
        task_condition = #{taskCondition,jdbcType=INTEGER},
      </if>
	        <if test="taskType != null">
        task_type = #{taskType,jdbcType=TINYINT},
      </if>
	      </set>
    where 1=1 and id = #{id,jdbcType=INTEGER}  
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.baidu.dpop.ctp.review.bo.ReviewTask">
    update tb_review_task
    set 
     	task_name = #{taskName,jdbcType=VARCHAR},
    	add_user = #{addUser,jdbcType=VARCHAR},
    	add_time = #{addTime,jdbcType=TIMESTAMP},
    	begin_time = #{beginTime,jdbcType=TIMESTAMP},
    	end_time = #{endTime,jdbcType=TIMESTAMP},
    	task_list = #{taskList,jdbcType=VARCHAR},
    	status = #{status,jdbcType=TINYINT},
    	moduser_level = #{moduserLevel,jdbcType=INTEGER},
    	blind = #{blind,jdbcType=BIT},
    	group_num = #{groupNum,jdbcType=INTEGER},
    	group_num_actual = #{groupNumActual,jdbcType=INTEGER},
    	task_condition = #{taskCondition,jdbcType=INTEGER},
    	task_type = #{taskType,jdbcType=TINYINT}
        where 1=1 and id = #{id,jdbcType=INTEGER}  
  </update>

</mapper>