<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.dpop.ctp.review.dao.mapper.ReviewGroupMapper">

  <resultMap id="BaseResultMap" type="com.baidu.dpop.ctp.review.bo.ReviewGroup">
			<id     column="id"		jdbcType="BIGINT"		property="id" />
	 		<result column="tag_group_id"		jdbcType="BIGINT"		property="tagGroupId" />
			<result column="group_id"		jdbcType="BIGINT"		property="groupId" />
			<result column="data_type"		jdbcType="TINYINT"		property="dataType" />
			<result column="task_id"		jdbcType="INTEGER"		property="taskId" />
			<result column="task_name"		jdbcType="VARCHAR"		property="taskName" />
			<result column="task_id_review"		jdbcType="INTEGER"		property="taskIdReview" />
			<result column="task_name_review"		jdbcType="VARCHAR"		property="taskNameReview" />
			<result column="ad_num"		jdbcType="INTEGER"		property="adNum" />
			<result column="ad_num_review"		jdbcType="INTEGER"		property="adNumReview" />
			<result column="status"		jdbcType="TINYINT"		property="status" />
			<result column="modify_user_id"		jdbcType="INTEGER"		property="modifyUserId" />
			<result column="modify_user_id_review"		jdbcType="INTEGER"		property="modifyUserIdReview" />
			<result column="start_time"		jdbcType="TIMESTAMP"		property="startTime" />
			<result column="done_time"		jdbcType="TIMESTAMP"		property="doneTime" />
	  </resultMap>
  
  <sql id="Base_Column_List">
	id,tag_group_id,group_id,data_type,task_id,task_name,task_id_review,task_name_review,ad_num,ad_num_review,status,modify_user_id,modify_user_id_review,start_time,done_time  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_review_group
    where 1=1  and id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_review_group
    where 1=1 and id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.baidu.dpop.ctp.review.bo.ReviewGroup" useGeneratedKeys="true" keyProperty="id">
    insert into tb_review_group 
	(id, tag_group_id, group_id, data_type, task_id, task_name, task_id_review, task_name_review, ad_num, ad_num_review, status, modify_user_id, modify_user_id_review, start_time, done_time)
    values 
	( #{id,jdbcType=BIGINT},#{tagGroupId,jdbcType=BIGINT},#{groupId,jdbcType=BIGINT},#{dataType,jdbcType=TINYINT},#{taskId,jdbcType=INTEGER},#{taskName,jdbcType=VARCHAR},#{taskIdReview,jdbcType=INTEGER},#{taskNameReview,jdbcType=VARCHAR},#{adNum,jdbcType=INTEGER},#{adNumReview,jdbcType=INTEGER},#{status,jdbcType=TINYINT},#{modifyUserId,jdbcType=INTEGER},#{modifyUserIdReview,jdbcType=INTEGER},#{startTime,jdbcType=TIMESTAMP},#{doneTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.baidu.dpop.ctp.review.bo.ReviewGroup" useGeneratedKeys="true" keyProperty="id">
    insert into tb_review_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
	  <if test="id != null">
        id,
      </if>
				
	  <if test="tagGroupId != null">
        tag_group_id,
      </if>
			
	  <if test="groupId != null">
        group_id,
      </if>
			
	  <if test="dataType != null">
        data_type,
      </if>
			
	  <if test="taskId != null">
        task_id,
      </if>
			
	  <if test="taskName != null">
        task_name,
      </if>
			
	  <if test="taskIdReview != null">
        task_id_review,
      </if>
			
	  <if test="taskNameReview != null">
        task_name_review,
      </if>
			
	  <if test="adNum != null">
        ad_num,
      </if>
			
	  <if test="adNumReview != null">
        ad_num_review,
      </if>
			
	  <if test="status != null">
        status,
      </if>
			
	  <if test="modifyUserId != null">
        modify_user_id,
      </if>
			
	  <if test="modifyUserIdReview != null">
        modify_user_id_review,
      </if>
			
	  <if test="startTime != null">
        start_time,
      </if>
			
	  <if test="doneTime != null">
        done_time,
      </if>
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
			
	  <if test="id != null">
         #{id,jdbcType=BIGINT},
      </if>
				
	  <if test="tagGroupId != null">
         #{tagGroupId,jdbcType=BIGINT},
      </if>
			
	  <if test="groupId != null">
         #{groupId,jdbcType=BIGINT},
      </if>
			
	  <if test="dataType != null">
         #{dataType,jdbcType=TINYINT},
      </if>
			
	  <if test="taskId != null">
         #{taskId,jdbcType=INTEGER},
      </if>
			
	  <if test="taskName != null">
         #{taskName,jdbcType=VARCHAR},
      </if>
			
	  <if test="taskIdReview != null">
         #{taskIdReview,jdbcType=INTEGER},
      </if>
			
	  <if test="taskNameReview != null">
         #{taskNameReview,jdbcType=VARCHAR},
      </if>
			
	  <if test="adNum != null">
         #{adNum,jdbcType=INTEGER},
      </if>
			
	  <if test="adNumReview != null">
         #{adNumReview,jdbcType=INTEGER},
      </if>
			
	  <if test="status != null">
         #{status,jdbcType=TINYINT},
      </if>
			
	  <if test="modifyUserId != null">
         #{modifyUserId,jdbcType=INTEGER},
      </if>
			
	  <if test="modifyUserIdReview != null">
         #{modifyUserIdReview,jdbcType=INTEGER},
      </if>
			
	  <if test="startTime != null">
         #{startTime,jdbcType=TIMESTAMP},
      </if>
			
	  <if test="doneTime != null">
         #{doneTime,jdbcType=TIMESTAMP},
      </if>
	    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.dpop.ctp.review.bo.ReviewGroup">
    update tb_review_group
    <set>      <if test="tagGroupId != null">
        tag_group_id = #{tagGroupId,jdbcType=BIGINT},
      </if>
	        <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
	        <if test="dataType != null">
        data_type = #{dataType,jdbcType=TINYINT},
      </if>
	        <if test="taskId != null">
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
	        <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
	        <if test="taskIdReview != null">
        task_id_review = #{taskIdReview,jdbcType=INTEGER},
      </if>
	        <if test="taskNameReview != null">
        task_name_review = #{taskNameReview,jdbcType=VARCHAR},
      </if>
	        <if test="adNum != null">
        ad_num = #{adNum,jdbcType=INTEGER},
      </if>
	        <if test="adNumReview != null">
        ad_num_review = #{adNumReview,jdbcType=INTEGER},
      </if>
	        <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
	        <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
	        <if test="modifyUserIdReview != null">
        modify_user_id_review = #{modifyUserIdReview,jdbcType=INTEGER},
      </if>
	        <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
	        <if test="doneTime != null">
        done_time = #{doneTime,jdbcType=TIMESTAMP},
      </if>
	      </set>
    where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.baidu.dpop.ctp.review.bo.ReviewGroup">
    update tb_review_group
    set 
     	tag_group_id = #{tagGroupId,jdbcType=BIGINT},
    	group_id = #{groupId,jdbcType=BIGINT},
    	data_type = #{dataType,jdbcType=TINYINT},
    	task_id = #{taskId,jdbcType=INTEGER},
    	task_name = #{taskName,jdbcType=VARCHAR},
    	task_id_review = #{taskIdReview,jdbcType=INTEGER},
    	task_name_review = #{taskNameReview,jdbcType=VARCHAR},
    	ad_num = #{adNum,jdbcType=INTEGER},
    	ad_num_review = #{adNumReview,jdbcType=INTEGER},
    	status = #{status,jdbcType=TINYINT},
    	modify_user_id = #{modifyUserId,jdbcType=INTEGER},
    	modify_user_id_review = #{modifyUserIdReview,jdbcType=INTEGER},
    	start_time = #{startTime,jdbcType=TIMESTAMP},
    	done_time = #{doneTime,jdbcType=TIMESTAMP}
        where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>

</mapper>