<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mockito="http://www.mockito.org/spring/mockito"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<description>cache config</description>
	
	<!-- redis client 配置 -->
	<bean id="redisClient01" class="com.baidu.dpop.frame.core.cache.redis.RedisClient">
		<property name="redisServer">
			<value>${redis.server01}</value>
		</property>
		<property name="port">
			<value>${redis.port01}</value>
		</property>
		<property name="timeout">
			<value>${redis.connection.wait.timeout}</value>
		</property>
	</bean>
	
	<bean id="cacheManager" class="com.baidu.dpop.frame.core.cache.redis.RedisCacheManager">
		<property name="clientList">
			<list>
				<ref local="redisClient01" />
			</list>
		</property>
	</bean>
	
	<!-- <bean id="cacheManager" class="com.baidu.dpop.ctp.common.cache.LocalCacheManager"
		factory-method="getInstance"/> -->
	
	<!-- session获取的代理类 -->
	<bean class="com.baidu.dpop.frame.core.web.delegator.SimpleSessionDelegator">
		<property name="cacheManager" ref="cacheManager" />
		 <!-- session 超时时间默认1小时 -->
		<property name="expirationSeconds" value="3600" />
	</bean>
	
	
	<!-- session cache manager -->
	<beans profile="rd">
		<bean id="cacheManager" class="com.baidu.dpop.ctp.common.cache.LocalCacheManager"/>
	</beans>
	<!--
	<beans profile="qa,online">
		<bean id="cacheManager" class="com.baidu.dpop.frame.core.cache.redis.RedisCacheManager">
			<property name="clientList">
				<list>
					<ref local="redisClient01" />
				</list>
			</property>
		</bean>
	</beans> -->
	
</beans>