<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mockito="http://www.mockito.org/spring/mockito"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="httpClientUtils" class="com.baidu.dpop.ctp.common.utils.HttpClientUtils">

	</bean>
	
	<!-- <bean id="ubmcService" class="com.baidu.dpop.ctp.mainTask.service.impl.UBMCServiceImpl">
		<property name="ubmcHttpHost">
			<value>http://qapi.baidu.com/api/UBMC/search_related_api/V1/search_multi</value>
		</property>
		<property name="userId">
			<value>54</value>
		</property>
		<property name="qapiKey">
			<value>265af3cc2b121379d26d316deec94f92</value>
		</property>
	</bean> -->
	
	
</beans>