<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.dpop.ctp.industrytype.dao.mapper.IndustryTypeMapper">

	<select id="selectLevel2Data" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_trade_type
		WHERE full_id > 1
	</select>

</mapper>